<h1><%=@concert.name%></h1>

<%= link_to 'Create Band', "/concerts/#{@concert.id}/bands/new" %>

<% @bands.each do |band|%>
  <h3><%= band.band_name %></h3>
   <li> Headliner? : <%= band.headliner %></li>
   <li> Members : <%= band.members %></li>
<%end%>


