
<%= form_with url: "/concerts", method: :post, local: true do |form| %>
  <%= form.label :name %>
 <p> <%= form.text_field :name %> </p>
  <%= form.label :capacity %>
 <p> <%= form.text_field :capacity %> </p>
  <%= form.label :sold_out? %>
 <p> <%= form.text_field :sold_out? %> </p>
  <%= form.submit 'Create Concert' %>
<% end %>